form{
	padding: 20px;
	background-color: burlywood;
	border: 1px solid black;
	width: 600px;
}

div form label{
	float: left;
	width: 90 px;
	display: block;	
	text-align: right;
	padding-right: 5px;
	font-weight: bold;
}

select{
	margin: 10px:
}

h2{
	color: red;
}